<div class="my-2">
  <h1 class="py-2">Welcome to <%= @user.username %>'s page</h1>

  <div class="py-2">
    <%= gravatar_for @user, size: 150%>
  </div>

  <h4 class="py-2">
    <%= @user.username %>'s articles
  </h4>
  <div class="center-card">
    <%= render 'articles/article', obj: @user.articles %>
  </div>
</div>