<div class="jumbotron">
  <h1 class="display-4 mb-4">This is Homepage of Alpha Blog app!</h1>
  <p class="lead">Alpha blog is the worlds best bloging website</p>
  <hr class="my-4">
  <p>For full access</p>
  <p class="lead">
  <%= link_to 'Sign up now', "#", class: 'btn btn-primary btn-lg' %>

  </p>
</div>
