.container-fluid #logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: url("jumbo.jpg");
  background-size: cover;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}
