<footer class="footer">
  <div class="mx-5">
    <p class="">copyright 2022 &copy; This app is created by ruby on rails developer <strong>Muhammad Adan Shahzad</strong>&nbsp; &nbsp; &nbsp; <%= link_to 'Alpha Blog' , root_path %>
    </p>
  </div>
</footer>